@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------- */
/* SF Pro Display: REGULAR (Weight 400, Normal) */
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplayRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* SF Pro Display: BOLD (Weight 700, Normal) */
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplayBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* SF Pro Display: MEDIUM (Weight 500, Normal) */
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplayMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SF Pro Display: LIGHT ITALIC (Weight 300, Italic) */
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplayLightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* SF Pro Display: THIN ITALIC (Weight 200, Italic) */
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplayThinItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* SF Pro Display: ULTRALIGHT ITALIC (Weight 100, Italic) */
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplayUltraLightItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* SF Pro Display: SEMIBOLD ITALIC (Weight 600, Italic) */
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplaySemiboldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* SF Pro Display: HEAVY ITALIC (Weight 800, Italic) */
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplayHeavyItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* SF Pro Display: BLACK ITALIC (Weight 900, Italic) */
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplayBlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}


.bg-bg{
    background-color: #F8F9FA;
}

.logo{
    font-size: 32px;
}

.text-primary{
    color: #3B82F6;
}

.text-secondary{
    color: #4B5563;
}